Repository nyasuto/pug: changes, and which Codecov flags are due for each by the changed paths.
All: phase1, phase2, phase3, phase4

fix: enhance codecov configuration for better coverage reporting (#20)
  .github/workflows/ci.yml
  codecov.yml
Due: none

feat: implement Phase 2.0 assembly code generator
  .github/workflows/ci.yml
  Makefile
  cmd/compiler/main.go
  examples/phase2_demo
  examples/phase2_demo.dog
  examples/phase2_demo.o
  examples/phase2_demo.s
  phase2/codegen.go
  phase2/codegen_test.go
  phase2/integration_test.go
Due: phase2

fix: resolve GitHub Actions CI failures
  .github/workflows/ci.yml
Due: none

style: fix code formatting
  cmd/compiler/main.go
  phase2/integration_test.go
Due: phase2

fix: properly skip CI integration tests
  phase2/integration_test.go
Due: phase2

fix: suppress security warning for legitimate file access
  cmd/compiler/main.go
Due: none

feat: Phase 2.0 アセンブリコード生成器実装 (#21)
  .github/workflows/ci.yml
  Makefile
  cmd/compiler/main.go
  examples/phase2_demo
  examples/phase2_demo.dog
  examples/phase2_demo.o
  examples/phase2_demo.s
  phase2/codegen.go
  phase2/codegen_test.go
  phase2/integration_test.go
Due: phase2

feat: Issue #7 - Phase 2.1 Type System実装
  examples/type_system_demo.pug
  phase2/types.go
  phase2/types_test.go
Due: phase2

refactor: simplify builtins map initialization by removing unnecessary pointer syntax
  phase1/builtins.go
Due: phase1

feat: Phase 2.1 型システム実装 (#22)
  examples/type_system_demo.pug
  phase1/builtins.go
  phase2/types.go
  phase2/types_test.go
Due: phase1, phase2

feat: Phase 2.2 制御構造実装
  examples/control_structures_demo.pug
  phase1/ast.go
  phase1/parser.go
  phase2/codegen.go
  phase2/control.go
  phase2/control_integration_test.go
  phase2/control_test.go
Due: phase1, phase2

test: カバレッジ改善のためのテスト追加
  phase2/control_test.go
  phase2/coverage_test.go
Due: phase2

feat: Phase 2.2 制御構造実装 (#23)
  examples/control_structures_demo.pug
  phase1/ast.go
  phase1/parser.go
  phase2/codegen.go
  phase2/control.go
  phase2/control_integration_test.go
  phase2/control_test.go
  phase2/coverage_test.go
Due: phase1, phase2

feat: Phase 1 テストカバレッジ大幅改善
  phase1/ast_string_test.go
  phase1/builtins_coverage_test.go
  phase1/control_parsing_test.go
  phase1/parser_error_test.go
Due: phase1

feat: Phase 1 テストカバレッジ大幅改善 (#24)
  phase1/ast_string_test.go
  phase1/builtins_coverage_test.go
  phase1/control_parsing_test.go
  phase1/parser_error_test.go
Due: phase1

fix: codecov設定修正でphase2カバレッジの正確な分析を実現
  .github/workflows/ci.yml
  Makefile
Due: none

fix: codecov設定修正でphase2カバレッジの正確な分析を実現 (#25)
  .github/workflows/ci.yml
  Makefile
Due: none

feat: Issue #9 - 包括的性能ベンチマーク・比較システム実装
  .github/workflows/ci.yml
  Makefile
  benchmark/README.md
  benchmark/benchmark_test.go
  benchmark/compiler_bench.go
  benchmark/doc.go
  benchmark/report.go
  benchmark/vs_gcc.go
  benchmark/vs_rust.go
  benchmark/wiki_update.go
Due: none

fix: セキュリティ脆弱性の修正
  benchmark/compiler_bench.go
  benchmark/report.go
  benchmark/vs_gcc.go
  benchmark/vs_rust.go
  benchmark/wiki_update.go
Due: none

fix: gosecセキュリティ警告の適切な抑制
  benchmark/compiler_bench.go
  benchmark/report.go
  benchmark/wiki_update.go
Due: none

fix: gosec G304セキュリティ警告の最終修正
  benchmark/wiki_update.go
Due: none

fix: #nosecコメントの位置修正でG304警告を解決
  benchmark/wiki_update.go
Due: none

feat: Phase 2.2 包括的性能ベンチマーク・比較システム実装 (#26)
  .github/workflows/ci.yml
  Makefile
  benchmark/README.md
  benchmark/benchmark_test.go
  benchmark/compiler_bench.go
  benchmark/doc.go
  benchmark/report.go
  benchmark/vs_gcc.go
  benchmark/vs_rust.go
  benchmark/wiki_update.go
Due: none

feat: 性能測定状況レポートと基盤検証結果の追加
  PERFORMANCE_STATUS.md
  benchmark_results.json
  performance_report.html
  performance_summary.md
Due: none

fix: 修正されたプロジェクト構造とファイル拡張子の表記
  CLAUDE.md
Due: none

feat: 性能測定状況レポートと基盤検証結果 (#27)
  CLAUDE.md
  PERFORMANCE_STATUS.md
  benchmark_results.json
  performance_report.html
  performance_summary.md
Due: none

docs: README更新で性能測定基盤の詳細を追加
  README.md
Due: none

docs: README更新で性能測定基盤の詳細を追加 (#28)
  README.md
Due: none

feat: Phase 1 インタープリター実行機能完全実装
  cmd/interp/main.go
  cmd/interp/main_test.go
  phase1/repl.go
  phase1/repl_test.go
Due: phase1

fix: セキュリティ脆弱性の修正とファイルパス検証の追加
  cmd/interp/main.go
  cmd/interp/main_test.go
Due: none

issue-29-phase1-interpreter (#39)
  cmd/interp/main.go
  cmd/interp/main_test.go
  phase1/repl.go
  phase1/repl_test.go
Due: phase1

fix: Phase 1評価器の引数検証を強化してベンチマーク実行を修正
  phase1/evaluator.go
  phase1/evaluator_bench_test.go
Due: phase1

improve: Go最新化とテストカバレッジの向上
  phase1/evaluator.go
  phase1/evaluator_test.go
Due: phase1

style: 残りのinterface{}をanyに統一
  phase1/evaluator_test.go
Due: phase1

phase1-evaluator-argument-validation (#40)
  phase1/evaluator.go
  phase1/evaluator_bench_test.go
  phase1/evaluator_test.go
Due: phase1

feat: Phase 2アセンブリコンパイラ機能完成
  cmd/pug/main.go
  phase2/codegen.go
  phase2/codegen_test.go
Due: phase2

fix: セキュリティスキャンG304警告を修正
  cmd/pug/main.go
Due: none

feat: Phase 2アセンブリコンパイラ機能完成 (#41)
  cmd/pug/main.go
  phase2/codegen.go
  phase2/codegen_test.go
Due: phase2

feat: makeにgosecセキュリティスキャンを追加
  Makefile
Due: none

feat: makeにgosecセキュリティスキャンを追加 (#42)
  Makefile
Due: none

Path conditions:
  phase1: any of: phase1/, but not: examples/, *.md, go.mod, go.sum, Makefile
  phase2: any of: phase2/, but not: examples/, *.md, go.mod, go.sum, Makefile
  phase3: any of: phase3/, but not: examples/, *.md, go.mod, go.sum, Makefile
  phase4: any of: phase4/, but not: examples/, *.md, go.mod, go.sum, Makefile
